.logoBox{
  background: linear-gradient(to right, #000 85%,#00c6ff,#30cb11,#000);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 200% 100%;
  animation: color-move 2s ease-out infinite;
}

@keyframes color-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -125% 0;
  }
}
